*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/developer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content1{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10%;
    padding-left: 16px;
}
.lg_text{
    font-size: 72px;
    font-weight: 400;
}
.sect2{
    width: 100%;
    background-color: black;
    padding: 20px 0;
}
.work h1{
    font-size: 55px;
    font-weight: 500;
    color: white;
    max-width: 900px;
    margin: 20px auto;
}
.work span{
    font-size: 72px;
    font-weight: 600;
}
.card_container{
    width: 100%;
    padding: 50px 0;
    max-width: 1100px;
    margin: 0 auto;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card1{
    width: 320px;
    height: 400px;
    border-radius: 7px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}
.card1:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.31s ease-in-out;
}
.card1 img{
    overflow: hidden;
}
.card_content{
    margin: 20px;
    margin-bottom: 20px;
}
.card_content p{
    font-size: 15px;
}
.info{
    display: flex;
    flex-direction: row;
    color: white;
}
.info_box{
    padding: 15px 50px 50px 50px;
    background-color: #973333;
}
.col{
    background-color: #bb4612;
}
.info_box h1{
    font-size: 72px;
    font-weight: 400;
}
.info_box p{
    margin: 10px 0;
}
footer{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
}
